<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Вихідні | БАЛ "Гармонія"</title>
    <link th:replace="partials/_css-links"/>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <div th:replace="partials/_navbar"></div>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="partials/_sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body table-responsive">
                    <h2 class="font-weight-semibold">Вихідні</h2>
                    <p class="card-description text-muted">
                      Перелік канікул та вихідних, що припадають на робочі дні</p>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>№</th>
                          <th>Дата</th>
                          <th>Кінець</th>
                          <th>Тип</th>
                          <th class="pt-1 pb-1">
                            <a type="button" class="btn btn-icons btn-inverse-primary btn-rounded"
                               th:href="@{/schedule/daysOff/new}">
                              <i class="mdi mdi-plus"></i></a>
                            </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="day, iStat: ${daysOff}">
                          <td th:text="${iStat.index + 1}"></td>
                          <td th:text="${day.startDate}"></td>
                          <td th:text="${day.endDate}"></td>
                          <td th:text="${day.type.displayName}"></td>
                          <td>
                            <a type="button" class="btn btn-icons btn-inverse-light btn-rounded"
                               th:href="@{/schedule/daysOff/{eventId}(eventId=${day.id})}">
                              <i class="mdi mdi-pencil-outline"></i></a>
                            <a type="button" class="btn btn-icons btn-inverse-light btn-rounded"
                               th:href="@{/schedule/daysOff/{eventId}/delete(eventId=${day.id})}">
                            <i class="mdi mdi-trash-can-outline"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer th:replace="partials/_footer"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script th:replace="partials/_js-links"></script>
  </body>
</html>