<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Головне меню</li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Поверхи</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="./pages/ui-features/buttons.html">1 поверх</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/ui-features/dropdowns.html">2 поверх</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/ui-features/typography.html">3 поверх</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/ui-features/typography.html">4 поверх</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>