<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${room.name} + ' | БАЛ Гармонія'">Приміщення | БАЛ "Гармонія"</title>
    <link th:replace="partials/_css-links"/>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:./partials/_navbar.html -->
      <nav th:replace="partials/_navbar"></nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_sidebar.html -->
        <nav th:replace="partials/_sidebar"></nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="row">
                    <div  class="col-md-7">
                      <div class="card-body pb-1">
                        <h2 class="font-weight-semibold"
                            th:text="${room.purpose}">Кабінет інформаційних технологій</h2>
                        <h5 class="font-weight-medium text-primary"
                            th:text="${'Каб. ' + room.name}">каб. 207</h5>
                        <h5 class="font-weight-normal"
                            th:text="${room.floor + ' поверх'}">2 поверх</h5>
                      </div>
                    </div>
                    <div  class="col-md-5">
                      <div class="card-body pb-2 pt-1 pt-md-5">
                        <h6 class="font-weight-lighter">Деталі:
                          <span th:if="${room.description!=null}" th:text="${room.description}" class="font-weight-normal"></span></h6>
                        <h6 class="font-weight-lighter">Колірна температура:
                          <span th:text="${room.colorTemperature+' К'}" class="font-weight-normal"></span></h6>
                        <h6 class="font-weight-lighter">Мікроконтролер:
                          <span th:text="${room.microcontroller != null
                                           ? room.microcontroller.macAddress
                                           : 'не підключено'}"
                                class="font-weight-normal"></span></h6>
                      </div>
                    </div>
                    <div  class="col-md-12">
                      <div class="card-body pt-3 pb-4">
                        <a type="button" class="btn btn-primary btn-lg btn-rounded"
                           th:href="@{/rooms/{room_id}/update(room_id=${room.id})}">
                          Змінити дані</a>
                      </div>
                    </div>
                  </div>

                  <!--Зона теоретичних занять-->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card-body">
                        <h3 class="font-weight-medium">Зона теоретичних занять</h3>
                        <div class="row">
                          <div class="col-md-5">
                            <h4 class="font-weight-light">Режими</h4>
                              <div class="template-demo">
                              <button type="button" class="btn btn-primary btn-rounded">Автоматичний</button>
                              <button type="button" class="btn btn-secondary btn-rounded">Адаптивний</button>
                              <button type="button" class="btn btn-secondary btn-rounded">Презентація</button>
                              <br>
                              <button type="button" class="btn btn-secondary btn-rounded">Максимальна потужність</button>
                              <button type="button" class="btn btn-secondary btn-rounded">Власні налаштування</button>
                              <br>
                              <button type="button" class="btn btn-light btn-rounded">Вимкнути</button>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <h4 class="font-weight-light">Ряди світильників</h4>
                              <table class="table">
                                <thead>
                                  <th>Ряд</th>
                                  <th>Потужність</th>
                                  <th>Стан</th>
                                  <th></th>
                                </thead>
                                <tbody>
                                  <tr class="table-secondary">
                                    <td>1</td>
                                    <td>0%</td>
                                    <td><label class="badge badge-muted">Off</label></td>
                                    <td>
                                      <button class="btn btn-light btn-rounded">Увімкнути</button>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>20%</td>
                                    <td><label class="badge badge-success text-white">On</label></td>
                                    <td><button class="btn btn-light btn-rounded">Вимкнути</button></td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>25%</td>
                                    <td><label class="badge badge-success text-white">On</label></td>
                                    <td><button class="btn btn-light btn-rounded">Вимкнути</button></td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:./partials/_footer.html -->
          <footer th:replace="partials/_footer"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script th:replace="partials/_js-links"></script>
  </body>
</html>